<div class="container" ng-controller="displayMoviesCtrl" ng-cloak>
    <div ng-click="showHide()">
        <span ng-include="'app/filterMovies/partials/filterMovies.html'">
    </div>


    <div ng-hide="isHidden" class="container animate-show-hide" id="searchBarContainer">
        <input id="searchBarInput" type="text" ng-model="query" placeholder="Search Collection" />
    </div>

    <div class="container">
        <div class="row">
            <div ng-repeat="movie in userMovies | filter: query | orderBy: movie.dateAdded :true">

                <div class="card displayCard" style="width: 11rem;">
                    <img class="card-img-top" src="{{movie.backdrop}}" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-truncate">{{movie.title}}</h6>
                        <a href="#!/movies/detail/{{movie.id}}" class="btn btn-primary btn-sm">Details</a>
                    </div>
                    <div class="card-body">
                        <div class="formatDiv" ng-repeat="format in movie.format | orderBy: format">
                            <span class="cardFormat">{{ format }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="hasResults  === false">
        <br>
        <strong>Sorry my young Padawan, These are not the results you are looking for!</strong>
    </div>
</div>