<div class="container"ng-controller="movieDetailsCtrl">


    <h1 id="detailTitle">{{movie.title}}</h1>
    <img id="detailImg" src="{{movie.poster}}">
    <p>{{movie.overview}}</p>
    <p>You added this movie to your collection on {{ movie.dateAdded | date:"fullDate"}}</p>
    <p>You currently own this movie in the following formats:</p>
    <ul ng-repeat="format in currentMovieFormats">
        <li>{{format}}</li>
    </ul>
    <select id="formatSelect"class="form-control" ng-model="selectedFormat" ng-options="format.name for format in formats" ng-init="DVD">
    </select>
    <button id ="addFormatbtn"class="btn btn btn-lg btn-info" ng-click="addFormatToMovie(selectedFormat.name)">Add Format</button>
    <button id ="deleteMoviebtn"class="btn btn-lg btn-danger"ng-click="removeMovie($routeParams.movieId)">Delete Movie</button>
</div>