<div class="container-fluid" ng-controller="reportDataCtrl">


    <h5 id="reportTitle">
        Here is the report for your collection
    </h5>
    <div class="container reportContainer">
        <ul id="report">
            <li>Total Number of Items = {{TotalMovies}} </li>
            <li>Total DVD's = {{TotalDVD}} </li>
            <li>Total Blu-Ray's = {{TotalBluRay}} </li>
            <li>Total Digital = {{TotalDigital}} </li>
            <li>Total 4k = {{Total4K}} </li>
        </ul>

    </div>
    <div class="container" id="chartContainer">

        <canvas id="PieChart" width="400" height="400"></canvas>

    </div>
</div>