<ul ng-controller="NavCtrl" ng-cloak>
    <li>
        <span ng-if="isAuthenticated()">
            <a href="#!/apiSearch">Search For New Movies</a>
        <span ng-if="!isAuthenticated()"></span>
        </span>
    </li>
    <li>
        <span ng-if="isAuthenticated()">
            <a href="#!/welcome">Your Collection</a>
        <span ng-if="!isAuthenticated()"></span>
        </span>
    </li>
    <li>
        <span ng-if="isAuthenticated()">
            <a href="#" ng-click="logout()">Logout</a>
        </span>
        <span ng-if="!isAuthenticated()"></span>
    </li>
</ul>