<ul ng-controller="NavCtrl">
    <li>
        <span ng-if="isAuthenticated()">
            <a href="#!/apiSearch">Search For New Movies</a>
        <span ng-if="!isAuthenticated()"></span>
        </span>
    </li>
    <li>
        <span ng-if="isAuthenticated()">
            <a href="#!/welcome">Your Collection</a>
        <span ng-if="!isAuthenticated()"></span>
        </span>
    </li>
    <li>
        <span ng-if="isAuthenticated()">
            <a href="#!/reports">Report</a>
        <span ng-if="!isAuthenticated()"></span>
        </span>
    </li>
    <li>
        <span ng-if="isAuthenticated()">
            <a href="#" ng-click="logout()">Logout <span>{{ email }}</span></a>
        </span>
        <span ng-if="!isAuthenticated()"></span>
    </li>
</ul>