/********** Common CSS ***********/
ul {
    list-style: none;
}
li {
    display: inline;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
body {
    background-color: rgb(230, 227, 227);
}
/*********** NavBar CSS **********/
#mainNavBar {
    background-color: #4f91f3;
}

/********** Filter Bar CSS **********/
#filterBar {
    background-color: rgba(57, 57, 58, 0.205);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding-top:5px;
}
ul.ulFilter{
    padding-left: 0;
    margin-bottom:5px;
}
.filterBtnContainer {
    padding-left:10px;
    padding-right:10px;
}
.filterbtn {
    width: 170px;
}
/********** Welcome Partial CSS **********/
.noMoviesMessage {
    background-color:#4f91f3;
    color:whitesmoke;
    margin-top:40px;
    padding: 15px;
    border-radius: 14px;
    text-align: center;
    width: 90%;
}
/********** Auth/Login Partial CSS **********/
.authWelcome{
    color:whitesmoke;
    border-radius: .3rem;
    box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.75);

    width: 500px;
    height: 500px;
    background-color: #4f91f3;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
.authbtn {
    margin-bottom:10px;
    width: 200px;
}

/********** Report Partial CSS **********/
#chartContainer {
    width: 400px;
    height: 400px;
}
.reportContainer {
    width: 50%;
    margin: 0 auto;
    background-color: #4f91f3;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    color:whitesmoke;

}
#reportTitle {
    text-align:center;
    width: 100%;
    margin: 0 auto;
}
#report li {
    display: block;
}
#formatSelect {
    width: 100px;
    float:left;
}
.cardFormat{
    font-size: 10px;
}
.formatDiv {
    display:inline-flex;
    margin-left: 2px;
    padding: 1px;
    border: 1px solid black;
}
.displayCard{
    margin-left:9px;
}
.leftSideBtn {
    width:150px;
}
.card-title{
    font-size:.7em;
}

/********* SearchBar CSS ***********/
#searchBarContainer {
    background-color: #4f91f3;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    width: 85%;
    box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.75);
    margin-bottom: 5px;
    padding-top:3px;
    padding-bottom:3px;
}
#searchBarInput {
    display:block;
    margin:auto;
}
#searchBarInput::placeholder{
    text-align: center;
}
.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
}
